/* général*/

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #f1f1f1;
}

/*Navigation*/

.navbar-brand {
    font-size: 25px;
    font-family: 'Kaushan Script';
}

#navbarCollapse a {
    font-size: 20px;
}

/* Header*/

header {
    background-image: url('img/patisserie-en-vitrine.jpg');
    opacity: 0.8;
    position: relative;
    background-size: cover;
    height: 80vh;
}

.text-intro {
    padding-top: 250px;
    padding-bottom: 200px;
    font: bold;
}

.preTxt {
    font-size: 40px;
}

.title {
    font-size: 90px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 700;
}

/* Trois Desserts*/

#home-desserts {
    padding-top: 100px;
    padding-bottom: 100px;
    border-top: 1px solid black;
}

/*Call to action*/

#start {
    position: relative;
    min-height: 200px;
    background: url('img/finition-des-gateaux-individuel-avec-une-fraise.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
}

#start h2 {
    font-size: 40px;
    color: #f1f1f1;
}

/*Equipes*/

#equipes {
    padding-bottom: 75px;
}

#equipes img {
    margin-top: -50px;
}

.fab {
    font-size: 25px;
    color: rgb(77, 77, 219);
}

/*MEDIA QUERIES*/

@media screen and (max-width: 768px) {
    header {
        height: 60vh;
    }
    .text-intro {
        padding-top: 10px;
    }
    .preTxt {
        font-size: 30px;
    }
    h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 500px) {
    .preTxt {
        font-size: 10px;
    }
    h1 {
        font-size: 20px;
    }
    .text-intro a {
        transform: scale(0.8);
    }
    #home-icons {
        padding-top: 80px;
        padding-bottom: 60px;
    }
    #txtLaptop {
        padding-bottom: 30px;
    }
    #equipes {
        padding-bottom: 35px;
    }
}